@{
    ViewBag.Title = "Resumen";
}

<div class="jumbotron">
    <h1>Ultimas transacciones</h1>
<table class="table table-striped" id="resumen">
    <thead>
        <tr>
        <th>
            Descripción
        </th>
        <th>
            Monto
        </th>
        <th>
            Fecha
        </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Le aboné al préstamo
            </td>
            <td>
                -RD 50,000.00
            </td>
            <td>
                14/8/2019
            </td>
        </tr>
        <tr>
            <td>
                Le aboné al préstamo
            </td>
            <td>
                -RD 57,000.00
            </td>
            <td>
                15/8/2019
            </td>
        </tr>
        <tr>
            <td>
                Le aboné al préstamo
            </td>
            <td>
                -RD 58,000.00
            </td>
            <td>
                20/8/2019
            </td>
        </tr>
        <tr>
            <td>
                Le aboné al préstamo
            </td>
            <td>
                -RD 60,000.00
            </td>
            <td>
                24/8/2019
            </td>
        </tr>
        <tr>
            <td>
                Le aboné al préstamo
            </td>
            <td>
                -RD 30,000.00
            </td>
            <td>
                28/8/2019
            </td>
        </tr>

    </tbody>
</table>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Ver Todas &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cuentas</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>